body {
  font-family: arial;
  background-color: aqua;
}

#calculator {
  height: 365px;
  width: 425px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  border: 2px solid black;
  border-radius: 20px;
}

#resultbox {
  width: 96%;
  height: 65px;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 6px;
  background-color: yellow;
}

#entry {
  margin-right: 10px;
  font-size: 25px;
}

#history {
  position: relative;
  height: 10px;
  bottom: 17px;
  margin-right: 14px;
  font-size: 12px;
}

#buttons {
  font-size: 16px;
  position: absolute;
  display: inline-block;
  width: 280px;
  height: auto;
  margin-top: 1%;
  margin-left: 1%;
}

button {
  border-radius: 8px;
  border: none;
  background-color: white;
  margin: 0 4px 10px 8px;
  height: 40px;
  width: 50px;
}

#saved-math {
  position: absolute;
  vertical-align: top;
  font-size: 20px;
  height: 250px;
  width: 140px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  border: 2px solid black;
  border-radius: 8px;
  background-color: green;
}

#list-saved-maths {
  position: absolute;
  vertical-align: top;
  font-size: 13px;
}

#save-button {
  position: absolute;
  font-size: 12px;
  text-align: center;
  height: 90px;
  margin-top: auto;
  margin-left: 2%;
  margin-right: auto;
}

#cancel-button {
  position: absolute;
  font-size: 12px;
  text-align: center;
  height: 90px;
  margin-top: auto;
  margin-left: 27%;
  margin-right: auto;
}

#equal-button {
  margin-left: 140px;
}

#divide-button {
  margin-left: 140px;
}

#saved {
  font-size: 13px;
}
