body {
  font-family: cursive;
  background-color: aqua;
}

#calculator {
  height: 400px;
  width: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  border: 2px solid black;
  border-radius: 20px;
}

#resultbox {
  width: 96%;
  height: 65px;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 6px;
  background-color: yellow;
}

#entry {
  margin-right: 10px;
  font-size: 25px;
}

#history {
  /*transform: translate(-13px, -17px);*/
  position: relative;
  height: 10px;
  bottom: 17px;
  margin-right: 14px;
  font-size: 12px;
}
